* {
    padding: 10px;
}

body {
    margin: 0;
    width: 95vw;
    height: 97vh;
    font-family: Arial, sans-serif;
    color: #fff;
    padding: 0;
    background: linear-gradient(to bottom, #0e4c92, #ffea61);
    transition: background 0.5s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.services-section {
    padding: 30px 0;
    text-align: center;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-info {
    font-size: 16px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: calc(100% - 10rem);
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-top: 0;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    color: #ffeba7;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.logo {
    padding: 1vh 1vw 0.5vh 1vw;
}

.logo img {
    height: 10rem;
    width: 10rem;
}

.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 0px;
}